.bloc-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 40px;
  background: $color-2;
  border-radius: 25px;
  padding: 50px 20px;
  @media screen and (max-width: $breakpoint-desktop) {
    background: none;
    padding: 20px 0px;
    gap: 20px;
  }
}

.card {
  position: relative;
  justify-self: center;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  background: $color-1;
  @media screen and (max-width: $breakpoint-desktop) {
    width: 335px;
    height: 255px;
  }
  &:hover img {
    opacity: 0.8;
  }
  img {
    opacity: 1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    height: 340px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    @media screen and (max-width: $breakpoint-desktop) {
      height: 255px;
    }
  }
  &__layer {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    border-radius: 10px;
  }
  &__title {
    @include font(18px, 500);
    position: absolute;
    left: 5.88%;
    right: 5.88%;
    top: 78.82%;
    bottom: 5.88%;

    color: $color-2;
  }
}
