.star {
  padding: 1%;
  height: 2vw;
  @media screen and (max-width: $breakpoint-desktop) {
    height: 5vw;
  }
}
.star_box {
  @media screen and (max-width: $breakpoint-desktop) {
    width: 100%;
  }
}
